.container
  .profile_items
    .profile_item.profile_bio
      .profile_bio_left
        .profile_your_avatar
          %i.fas.fa-user-circle.fa-9x.fa-user-color	
      .profile_bio_right
        .profile_your_name テスト
        .profile_your_introduction テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト