.container
  .profile_items
    .profile_item
      .profile_your_avatar= image_tag 'first_avatar.png', alt: '初期プロフィール画像'
      .profile_your_name テスト
      .profile_your_introduction テストテストテストテストテストテストテストテストテスト
    .profile_item