.container
  .calendar_page
    #calendar
    #calendar_day
      .calendar_day_items
        .calendar_day_item 
          %p.day_time 9:00 ~ 12:00
          %p.day_title 筋トレ
        .calendar_day_item 
          %p.day_time 13:00 ~ 17:00
          %p.day_title 書類作成
        .calendar_day_item
          %p.day_time 18:00 ~ 20:00
          %p.day_title 外食
        .calendar_day_add
          %span.dli-plus