.header
  .header_inner
    .header_left
      = image_tag 'stepup-logo1.png', alt: 'サイトロゴ', class: 'header_logo'
      = link_to 'メニュー', '#', class: 'header_menu'
    .header_right
      = link_to 'ログイン', new_user_session_path, class: 'header_login_btn'